html,
body {
	font-size: 16px;
	margin: 0;
	font-family: "Courier New", serif;
}

html {
	/* background-color: #9cdaed; */
	height: 100vh;
}

/* FORM AND FORM BUTTONS */
form {
	text-align: center;
	color: white;

	display: none;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}

form h2 {
	margin: 0;
	padding: 0;
}

button {
	border-radius: 5px;
}

.customButton {
	margin-top: 10px;
	background-color: #ffffff;
	border: none;
	cursor: pointer;
}

/*Title Styling*/
.title {
	color: white;
	height: 10vh;

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
	align-items: center;
	justify-content: center;
}

/*MAIN CONTAINER*/
.contentContainer {
	display: flex;
	height: 85vh;
}

/* SIDEBAR STYLING */
.buttonOptions {
	display: flex;
	width: 100%;
}

#popupForm {
	border-left: black solid 2px;
}

.asideContainer {
	flex: 1;

	text-align: center;

	border-right: rgba(0, 0, 0, 0.7) solid 2px;
	background-color: rgba(0, 0, 0, 0.8);
}

.asideContainer button {
	background-color: white;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 0 0 10px 0;
	flex: 1;
}

#sidebar {
	height: 80%;
}

#sidebar p {
	margin: 0 0 10px 0;
	padding: 5px 0 5px 0;

	cursor: pointer;

	background-color: white;
}

#sidebar p:hover {
	color: white;
	background-color: #4f4f4f;
}

/*TASKS CONTAINER*/
#tasksContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;

	padding: 1%;

	flex: 5;
}

/*Task CARD Styling*/
.taskCard {
	box-sizing: border-box;
	border-radius: 5px;

	width: 100%;
	height: 50px;
	padding: 0 10px 0 10px;

	text-align: center;
	color: white;
	border: black dashed 2px;
	background-color: rgba(0, 0, 0, 0.7);

	cursor: pointer;

	display: flex;
}

.taskCard:hover {
	transform: scale(1.01);
}

.priorityKey {
	margin-left: auto;
	padding-right: 15px;
}

.deleteTask {
	height: 50%;
	margin-top: 15px;
	color: black;
	background-color: white;

	border-radius: 5px;
}

.importantPriority {
	border: dashed red 2px;
}

/* Right Sidebar */
#rightSidebar {
	font-size: 25px;
	padding: 1%;
	flex: 1;
}

#rightSidebar p {
	margin: 0;
	text-align: center;
}

#infoBox {
	border-radius: 5px;
	background-color: rgb(250, 250, 250);
}

.modifyTaskButton {
	width: 100%;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 25px;
}

.detailsKeys {
	border-radius: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}

footer {
	text-align: center;

	font-weight: bolder;

	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
